@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body{
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

/* Share icons */

.share-icon{
  position: absolute;
  right: 250px;
  top: 3rem;
  color: #cbd2df;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.mobile-menu{
  visibility: hidden;
}

.share-icon:hover{
  border: 2px dashed #EAECF0;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}


/* Profile Section */

.profile-section{
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  
}

#profile__img{
    border-radius: 100%;
    height: 100px;
    width: 100px;
    margin-bottom: 1.5rem;
}

.usernames :nth-child(1){
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  margin-bottom: 2rem;

}

.usernames :nth-child(2){
  visibility: hidden;
}

/* Links Section */

.links-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.link-item {
    color:#000;
    background-color:#EAECF0;
    cursor:pointer;
    width: 80vw;
    padding: 1.2rem;
    margin: 0.6rem;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.9rem;
    transition: 0.3s ease;
    
}

.link-item:hover{
  scale: calc(1.01);
}

.share-link{
    position: absolute;
    right: 2rem;
    color: grey;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s ease;
    opacity: 0;
}

.link-item:hover :nth-child(1){
  opacity: 1;
}

.sub-text{
  font-style: italic;
  font-size: 0.9rem;
  opacity: 0.8;
}


/* Footer Section */


.slack-github-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0 6rem 0;
}

.slack-github-icons .slack{
  padding-right: 2rem;
}

hr{
  width: 80vw;
  margin-bottom: 2rem;
  /* border: 1px solid #cbd2df; */
    border: none;
    height: 1px;
    background-color: #EAECF0; 
}

.zuri-hng-ig4-icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  padding-bottom: 3rem;
}

.zuri-hng-ig4-icons p {
  color: grey;
  font-weight: 400;
  font-size: 1.2rem;
}


@media (max-width:480px) {

    /* link section */
      .link-item{
        font-size: 0.8rem;
        width: 90vw;
      }
      .share-icon{
        visibility: hidden;
      }

      /* Share icons */
      .mobile-menu{
        visibility: visible;
        position: absolute;
        right: 2rem;
        top: 4rem;
        color: grey;
        font-size: 2rem;
        cursor: pointer;
        transition: 0.3s ease;
        text-align: center;
      }
      .mobile-menu:hover{
        border: 2px dashed #EAECF0;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
      }

      /* footer */
      hr{
        width: 90vw;
      }

}

@media (max-width:800px) {
    .share-icon{
      right: 2rem;
    }
    .zuri-hng-ig4-icons{
      flex-direction: column;
      align-items: flex-start;
    }

    .zuri-hng-ig4-icons p{
      padding: 1rem 0 1rem 0;
      font-size: 1rem;
    }
}